<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
  <nav></nav>
</ion-header>

<ion-content class="custom-background">
  <div class="custom-background">
  <div class="image-container">
    <img src="assets/images/logoV1.png" alt="Ma superbe image" class="logo">
  </div>

  <div class="ion-text-center">
    <h1>Secret Crush</h1>
  </div>
      
  <div class="ion-text-center">
    <h6>Déjà membre ?</h6>
  <ion-button color="medium" href="/connexion">
    <ion-icon slot="start" name="log-in-outline"></ion-icon>Se Connecter
  </ion-button>
  </div>
<br>
  <div class="ion-text-center">
  <h6>Pas encore de compte ?</h6>
  <ion-button color="medium" href="/inscription">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>S'inscrire
  </ion-button>
</div>
</div>
</ion-content>
